* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  background-image: url(wall.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  font-size: 70px;
  font-weight: bold;
  background-color: rgb(86, 92, 92, 0.6);
  color: rgb(50, 84, 233);
  min-height: 10vh;
  text-align: center;
  padding-top: 3vh;
}

.tracker {
  min-height: 10vh;
  font-size: 40px;
  font-weight: bold;
  min-width: 100vh;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
}

.mid-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#midMsg {
  font-size: 60px;
}


#reset {
  background-color: transparent;
  border: 0;
  padding: 20px;
  visibility: hidden;
}

#reset:active {
  transform: translateY(4px);
}

.button-container {
  min-width: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  visibility: visible;
}
.rock-btn, .paper-btn, .scissors-btn {
  border: 5px transparent;
}

.rock-btn:hover, .paper-btn:hover, .scissors-btn:hover {
  border: 5px solid red;
  margin: -5px;
}

.rock-btn:active, .paper-btn:active, .scissors-btn:active {
  border: 5px solid red;
  margin: -5ps;
  transform: translateY(4px);
}

div button img {
  height: auto;
  width: 250px;
}

#endMsg {
  min-width: 100 vh;
  font-weight: bold;
  font-size: 30px;
}